#carousel-1 .carousel-indicators [data-bs-target] {
  height: .5em;
  width: .5em;
  flex: 0 1 auto;
  border: 0 !important;
  border-top: 10px;
  border-bottom: 10px;
  border-radius: 10px;
}

#carousel-1 .carousel-indicators {
  gap: 5px;
  margin-bottom: 1em;
}

.carousel-indicators [data-bs-target] {
  width: 10em;
  height: 1.5em;
  border: 0;
  border-top: 10px;
  border-bottom: 10px;
  border-radius: 20px;
  background-color: var(--bs-gray-400);
  opacity: 1;
  text-indent: 0;
  text-align: center;
  padding: 2px;
  margin-bottom: .5em;
}

.carousel-indicators .active {
  background-color: var(--bs-yellow);
}

#carousel-2 .carousel-item img, #carousel-3 .carousel-item img {
  width: 18em !important;
  object-fit: contain;
  height: 18em !important;
}

#carousel-1 .carousel-inner .carousel-item img {
  object-fit: cover !important;
  height: 40em !important;
  min-height: 15em;
}

#carousel-1 .carousel-indicators {
  position: absolute;
}

.carousel-indicators {
  position: relative;
  width: 100%;
  margin: 0;
  display: inline-flex;
  flex-wrap: wrap;
}

.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
  color: var(--bs-red);
  text-decoration: none;
}

.carousel-control-next, .carousel-control-prev {
  color: var(--bs-yellow);
  text-decoration: none;
  font-size: 30px;
  opacity: 1;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-image: none !important;
}

#branches {
  background-color: var(--bs-gray-900);
  background-image: url("../../assets/img/rockos-bg.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  background-blend-mode: overlay;
}

.left {
  background-color: var(--bs-yellow);
}

.right {
  background-color: var(--bs-highlight-bg);
}

#products {
  background-color: var(--bs-white);
}

#find-rockos div {
  background-color: var(--bs-white);
  border: 0;
  border-radius: 60px 60px 0 0;
}

.d-right {
  background-color: var(--bs-highlight-bg);
}

.d-center {
  background-color: var(--bs-highlight-bg);
}

.d-left {
  background-color: var(--bs-red);
}

#carousel-4 .carousel-control-prev, #carousel-4 .carousel-control-next {
  width: 1.5em;
}

#carousel-4 .carousel-control-prev {
  left: -1em;
}

#carousel-4 .carousel-control-next {
  right: -1em;
}

#carousel-4 .card {
  margin: 0 0.5em;
  min-height: 250px;
  background-color: var(--bs-yellow);
}

#carousel-4 .card .img-wrapper {
  max-width: 100%;
  height: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#carousel-4 .card img {
  max-height: 100%;
}

@media (min-width: 551px) {
  #carousel-4 .carousel-item {
    margin-right: 0;
    flex: 0 0 50%;
    display: block;
  }
}

@media (min-width: 768px) {
  #carousel-4 .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }
}

@media (max-width: 768px) {
  #carousel-4 .card .img-wrapper {
    height: 17em;
  }
}

@media (min-width: 991px) {
  #carousel-4 .carousel-item {
    margin-right: 0;
    flex: 0 0 25%;
    display: block;
  }
}

.left-heading {
  z-index: 2;
}

@media (max-width: 992px) {
  .left-heading-text {
    margin-right: 0 !important;
  }
}

.left-heading-text {
  margin-right: -6em;
}

.right-heading img {
  max-height: 16em;
}

.right-heading {
  z-index: 1;
  text-align: center;
}

.left-heading-text h1, .left-heading-text p {
  text-shadow: #000 2px 2px 5px;
}

@media (max-width: 992px) {
  .left-heading-text h1, .left-heading-text p {
    text-align: center;
  }
}

@media (max-width: 992px) {
  .right-heading img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -6em;
  }
}

svg {
}

#facebook-icon-contact {
  font-size: 3em !important;
}

iframe {
  width: 30em;
  height: 15em;
  min-width: 5em;
}

@media (max-width: 990px) {
  .navbar {
    background: #fff;
  }
}

@media (min-width: 991px) {
  .navbar {
    background: linear-gradient(0deg, #6e6e6e00 0%, var(--bs-black) 88%);
    z-index: 99;
  }
}

@media (min-width: 992px) {
  #navbar .fab.fa-facebook-f, #navbar #navcol-4 #navcol-3 {
    color: #fff;
  }
}

@media (min-width: 992px) {
  .navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color: rgba(0, 0, 0, 0.55);
    --bs-navbar-hover-color: rgba(0, 0, 0, 0.7);
    --bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
    --bs-navbar-active-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0.1);
    --bs-navbar-toggler-border-radius: 0.375rem;
    --bs-navbar-toggler-focus-width: 0.25rem;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
  }
}

@media (min-width: 992px) {
  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}

@media (max-width: 991px) {
  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}

@media (min-width: 992px) {
  .navbar-dark {
    --bs-navbar-color: rgba(255, 255, 255, 0.55);
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
    --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
    --bs-navbar-active-color: #fff;
    --bs-navbar-brand-color: #fff;
    --bs-navbar-brand-hover-color: #fff;
    --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}

#carousel-4 .card-title {
  min-height: 3em;
}

#carousel-4 .card-text {
  min-height: 5em !important;
}

#partners img {
  object-fit: contain;
  max-width: 75%;
}

#find-rockos {
  z-index: 2;
}

@media (max-width: 768px) {
  #find-rockos {
    margin-top: -3em;
  }
}

:root {
  --bs-yellow: #ffa800;
}

@media (min-width: 1200px) {
  .modal-dialog {
    min-width: 1200px;
  }
}

#carousel-5 .carousel-item img {
  width: 35em !important;
}

hr {
  position: relative;
  background-color: transparent;
  border: none;
  height: 150px;
  margin: 0;
  margin-top: -150px;
  z-index: -1;
}

#scrollTop {
  position: fixed;
  bottom: 20px;
  right: 30px;
  background-color: var(--bs-yellow);
  color: var(--bs-black) !important;
  padding: .5em;
  border-radius: 8em;
  width: 3em;
  height: 3em;
  text-align: center;
  z-index: 99;
  margin: 0;
}

#scrollTop a i {
  font-size: 2em;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

#carousel-1 {
  min-height: 20em;
}

#carousel-2 .carousel-indicators [data-bs-target], #carousel-3 .carousel-indicators [data-bs-target] {
  min-width: 10em !important;
}

.carousel-item p {
  /*width: 30em !important;*/
  margin: auto;
  min-width: 10em !important;
  max-width: 45em !important;
  min-height: 7em !important;
}

.carousel-heading {
  position: absolute;
  left: 0;
  right: 0;
  top: 18em;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4 {
  font-family: 'chalkduster-regular';
}

.blank-item {
  height: 5em;
}

.logo {
  width: 10em;
}

.logo-big {
  width: 20em;
}

.about-us-img {
  object-fit: cover;
  width: 23em;
  height: 23em;
}

@media (max-width: 992px) {
  .right h1 {
    text-align: center;
  }
}

footer a {
  text-decoration: none;
}

body {
  background-color: var(--bs-light) !important;
}

